*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #ffef95, #ff9a9a);
}
header{
    background: linear-gradient(to top,#ff9a9a, #ffef95);
    padding: 20px;
    text-align: center;
}
.Dashboard{
    display: flex;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #ff9a9a, #ffef95);

    justify-content: center;
}
 
.item{
    background-color: rgb(236, 239, 241);
    border: 1.5px solid rgb(124, 124, 124);
    flex-basis: calc(50% - 20px);
   
    color: rgb(51, 51, 51);
    padding: 20px;
}
 
 
 
label{
    display: block;
    margin-top: 0,5em;
}
 
.checks label{
    margin-top:0;
}
 
label:first-of-typr {
    padding: .5em;
    border: solid 1px;
}
 
textarea{
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #999;
}
 
.checks{
    margin-bottom: 1em;
}
 
input[type="checkbox"] + label, input[type="radio"] + label{
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}
 
input[type="radio"]:first-of-type {
    margin-left: 0;
}
 
input[type="radio"]{
    margin-left: 1.5em;
    margin-right:0;
}
 
input[type="sublit"]{
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #fefdfd;
    color: #fcfafa;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}
