.block1 {
  display: flex;
  align-items: center; 
}

.block2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#p1 {
    display: block;
    white-space: normal;
    margin-left: 400px;
    width: 30%;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
}
#p2 {
    display: block;
    white-space: normal;
    margin-left: 10px;
    width: 30%;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
}

body {
    background-color: lightgreen;
}

#pictureright {
    width: 500px;
    height: auto;
    border-radius: 8px;
}
#pictureleft {
    order: -1;
    width: 500px;
    margin-left: 410px;
    height: auto;
    border-radius: 8px;
}