html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50rem;
    height: 50rem;
    justify-content: center;
    align-items: center;
    padding-left: 36%;
}

.item {
    flex: 1 1 20rem;
    background-color: lightgreen;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    height: 20rem;
    align-content: center;
    font-size: 2rem;
}

@media (max-width: 40rem) {
    .item {
        flex: 1 1 100%;
        }
}